########################################
# OS / Editor
########################################
.DS_Store
Thumbs.db

########################################
# IntelliJ IDEA
########################################
.idea/
*.iml
*.ipr
*.iws
out/

########################################
# Gradle
########################################
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

########################################
# Java
########################################
*.class
*.log

########################################
# Spring Boot
########################################
**/logs/
**/tmp/

########################################
# Environment variables / secrets
########################################
.env
.env.*
!.env.example

########################################
# Node / Angular
########################################
frontend/angular-app/node_modules/
frontend/angular-app/dist/
frontend/angular-app/.angular/
frontend/angular-app/.cache/
frontend/angular-app/.npm/
frontend/angular-app/.env
frontend/angular-app/.env.*

########################################
# Docker
########################################
**/docker-data/
**/*.pid

########################################
# Test / coverage
########################################
coverage/
*.lcov
